<div id="ssh-keys-list">
    <div class="d-flex align-items-center justify-content-between pb-2">
        <h2><i class="bi bi-key-fill"></i> SSH keys</h2>

        <a class="btn btn-success" href="{% url 'new_ssh_key' %}">
            <i class="bi bi-plus-circle-fill"></i> New ssh key
        </a>
    </div>
    <ul class="list-group">
        {% for ssh_key in ssh_keys %}
            <li class="list-group-item d-flex align-items-center justify-content-between">
                {{ ssh_key.name }} ( {{ ssh_key.fingerprint }} )
                <form
                        hx-post="{% url 'home' %}"
                        hx-target="#ssh-keys-list"
                        hx-swap="outerHTML"
                        hx-confirm="Do you really want to remove ssh key {{ ssh_key.name }}?">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete"/>
                    <input type="hidden" name="object" value="ssh_key"/>
                    <input type="hidden" name="target"
                        value="{{ ssh_key.pk }}"/>
                    <button class="btn btn-danger" type="submit">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>

</div>
