{% extends "base.html" %}

{% block head %}
    <title>New SSH key | CodeNest</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="fw-bold pb-2">New SSH key</h2>

        <form action="{% url 'new_ssh_key' %}" method="post">
            {% if invalid_key %}
                <p class="text-danger">Invalid RSA public key</p>
            {% endif %}
            {% csrf_token %}

            <div class="d-flex flex-column gap-2">
                {% for field in form %}
                    <div>
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <input class="btn btn-success w-100 my-3" type="submit" value="Add key">
        </form>
    </div>
{% endblock %}