<div id="branch-list">
    <h2>Branches</h2>
    <ul>
        {% for branch in branches %}
            {% spaceless %}
                <li>
                    <a
                            href="{% url 'repo_detail' namespace=namespace slug=slug ref=branch.name path=path %}"
                    >
                        <button>
                            {{ branch }}
                        </button>
                    </a>
                    {% if branch.name == current_ref_str %}- current{% endif %}
                </li>
            {% endspaceless %}
        {% endfor %}
    </ul>
</div>