<div id="branch-list">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-git"></i> {{ current_ref_str }}
        </button>
        <ul class="dropdown-menu">
            {% for branch in branches %}
                {% spaceless %}
                    <li class="dropdown-item">
                        <a
                                href="{% url 'repo_detail' namespace=namespace slug=slug ref=branch.name path=path %}"
                        >
                            {{ branch }}
                        {% if branch.name == current_ref_str %}- current{% endif %}
                        </a>
                    </li>
                {% endspaceless %}
            {% endfor %}
        </ul>
      </div>
</div>